{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
    <h1>Об авторе</h1>
    <p>
        Рад приветствовать вас на пространстве моего учебного проекта! <br>
        Что-то списано, что-то скопировано, что-то выдавлено из себя. <br>
        Программирование - это мир бесконечных возможностей, а также возможность 
        расти в этой профессии на протяжении всей жизни. <br> Больше остальных преимуществ 
        меня вдохновляет возможность работать до тех пор, пока сохраняется ясность ума. <br>
        В учёбе меня поддерживают близкие, а также горячие напитки. <br>
    </p>
    <img src='/static/img/cup_of_tea.jpg' alt='Кружечка' width='300px'>
    <br><br>
    <p>
        Основа продуктивной работы - дисциплина и последовательность. <br>
        Вот почему я стараюсь проявлять дисциплину во всём. <br>
        Даже на рабочем столе каждая деталь - важная составляющая системы хранения информации. <br>
    </p>
    <img src='/static/img/working_place.jpg' alt='Рабочий стол' width='600px'>
    <br><br>
    <p>
        Вы можете ознакомиться с моими проектами при переходе по 
        <a href='https://github.com/ocronis' target='_blank'>ссылке<a/>:
    </p>
</div>
{% endblock %}
