{% extends 'base.html' %}
{% load thumbnail %}
{% block header %} {{ group.title }} {% endblock %}
{% block title %}
<title>Записи сообщества {{ group.title }}</title>
{% endblock title %}
{% block content %}
<div class="container py-5"> 
  <h1>{{ group.title }}</h1>
  <p>
    {{ group.description|linebreaksbr }}
  </p>

  {% for post in page_obj %}
  {% include 'includes/post.html' %}
  {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'includes/paginator.html' %}
</div>
{% endblock content %}
